@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, .4);
  --color-success: #35b854; /* Grün für Erfolgsmeldungen */
  --color-warning: #ffc107; 
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, .6);

  --transition: all .4s ease;

  --container-lg: 75%;
  --container-md: 87%;
  --container-sm: 96%;
}
  /* Stil für den Light-Modus */
  .light {
    --bg: #f0f0f0;
    --text: #333;
    --link: #007bff;
    --link-hover: #0056b3;
    --button-bg: #007bff;
    --button-text: #fff;
  }

  /* Stil für den Dark-Modus */
  .dark {
    --bg: #222;
    --text: #ddd;
    --link: #4db5ff;
    --link-hover: #2494e2;
    --button-bg: #35b854;
    --button-text: #fff;
  }




html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

section {
  margin-top: 8rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

img{
  width: 100%;
  object-fit: cover;
  display: block;
}

h1{
  font-size: 3.3rem;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}


.text-light {
  color: var(--color-light);
}


.btn{
  display: inline-block;
  color: var(--color-primary);
  padding: .6rem 1.2rem;
  margin: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: .6rem;
}

.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn:hover{
  background: transparent;
  color: var(--color-success);
  border-color: var(--color-success);
}







